@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	/* Hero and footer - dark background color */
	--main-1: #1f2937;
	--main-2: #f9faf8;
	--main-3: #e5e7eb;
	--main-4: #1f2937;
	--main-5: #3882f6;
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #e5e5e5;
}

.row {
	display: flex;
}

.header-footer {
	background-color: #1f2937;
	padding: 1em;
}
.navbar {
	display: flex;
	text-decoration: none;
	list-style: none;
}

.hero {
	background-color: #1f2937;
	padding: 3em;
}
.hero__text{
	border: 2px solid white;
	color: #e5e5e5;
}
.hero__img{
	height: 200px;
	width: 400px;
	background-color: #696969;
	color: #e5e7eb;
}

.hero-2 {
	padding: 3em;
}

.img{
	border: 3px solid blue;
	height: 200px;
	width: 200px;
}

.hero-3 {
	background-color: #e5e5e5;
	padding: 3em;
}
.hero-4 {
	padding: 3em;
}

.accent{
	padding: 3em;
	background-color: #3882f6;
}
